@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

section {
    background-color: white;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    padding: 80px;
    background-color: black;
    color: #ffffff;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
}



li {
    /* border: solid white 3px; */
    /* width: 150px; */
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0px;
    font-weight: 400
}

h2 {
    font-size: 50px;
    font-weight: 400;
}

p {
    margin: 0px;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 92%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 50px;
    margin-bottom: 100px;
}



button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(199, 191, 191);
    font-size: 15px;
    font-weight: 400;
}

button:hover {
    background-color: #eee9e7;
}

button:active {
    background-color: #616265;
    color: #efefee;
}

.socials {
    padding-bottom: 100px;
}

.logo {
    height: 80px;
    margin: 30px;
}

.social {
    margin: 20px;
}

.sub-section {

    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 250px;
    border-radius: 160px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(85, 86, 86);
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
}

.project-container {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;

    }
}

.project-image {
    margin-top: 20px;
    width: 250px;
    border-radius: 125px;
}

.subtext {
    font-size: 18px;
    font-size: 300;
}

.project-link {
    text-decoration: none;
    color: black;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: #ffffff;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2b38;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2b38;
    }

    .logo {
        display: none;
    }
}